<!DOCTYPE html>
<html lang="en" ng-app='magmaApp'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Алгоритм шифрования МАГМА</title>
</head>

<body ng-controller="magmaController" style="margin: 0px auto; text-align: center;">
    <!-- <form style="float: left; width: 50%;">
        <h1>Шифрование, шестнадцатеричная CC</h1>
        <div>
            <label>Ключ шифрвоания</label>
            <input placeholder="key:" type="text" ng-model="key_enc" style="width: 400px" required>
        </div>
        <br/>
        <div>
            <label>Шифруемое значение</label>
            <input placeholder="a:" type="text" ng-model="value_enc" style="width: 400px" required>
        </div>
        <br/>
        <input type="submit" style="width: 100px; height: 20px" ng-click="encrypt()"></input>
        <p>{{result_enc}}</p>
        <br/>
    </form>

    <form style="float: right; width: 50%;">
        <h1>Дешифрование, шестнадцатеричная CC</h1>
        <div>
            <label>Ключ дешифрвоания</label>
            <input placeholder="key:" type="text" ng-model="key_dec" style="width: 400px" align="center" required>
        </div>
        <br/>
        <div>
            <label>Дешифруемое значение</label>
            <input placeholder="a:" type="text" ng-model="value_dec" style="width: 400px" required>
        </div>
        <br/>
        <input type="submit" style="width: 100px; height: 20px" ng-click="decrypt()"></input>
        <p>{{result_dec}}</p>
        <br/>
    </form>
    <hr/>-->

    <form style="float: left; width: 50%;">
        <h1>Шифрование картинки</h1>
        <img id="imgheart" src="heart.bmp" alt="Heart" style="width:64px;height:64px;">
        <br/>
        <input type="submit" style="width: 100px; height: 20px" ng-click="encryptImage()"></input>
        <br/>
        
    </form>

    <div style="float: right; width: 50%;">
        <h1>Дешифрвоание картинки</h1>
        <canvas width="64px" height="64px" id="heart"></canvas>
    </div>  

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript">
    angular.module('magmaApp', []);
</script>
<script src="index.js"></script>

</html>